<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eNompilo.v3._0._1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="~/img/Adobe_Express_20230527_0911500_3_4496_-removebg-preview.png" />
</head>
<body>
    <div class="row d-flex">
        <div class="col" style="position: fixed; width:50vw; left:0;">
            <img src="~/img/pexels-laura-james-6098057.jpg" alt="Laura James" style="width:100%;" />
        </div>
        <div class="col" style="width: 49vw; position: absolute; right: 0;">
            <a asp-action="Index" asp-controller="Home" style="display:flex;align-items: center; text-decoration:none; color: #1e36cc; font-weight: 500;"><i class="bi bi-arrow-left-square-fill" style="color: #1e36cc; font-size:25px;"></i> &nbsp; <span>Back to Home</span></a>
            @RenderBody()
        </div>

    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
