@model eNompilo.v3._0._1.Models.GeneralAppointment
@inject IHttpContextAccessor contextAccessor


@{
	ViewData["Title"] = "Book";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="margined-page pt-4">

	<h2>Book an Appointment</h2>
	<hr />
	<div class="row d-flex align-items-center">
		<div class="col-md-4" style="margin-left:auto;margin-right:auto;">
			<form asp-action="Book" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group mb-4">
					<label asp-for="PatientIssues" class="control-label"></label>
					<textarea asp-for="PatientIssues" class="form-control"></textarea>
					<span asp-validation-for="PatientIssues" class="text-danger"></span>
				</div>
				<div class="form-group mb-4">
					<label asp-for="PreferredDate" class="control-label"></label>
					<input id="dateof" asp-for="PreferredDate" type="date" class="form-control" />
					<span asp-validation-for="PreferredDate" class="text-danger"></span>
				</div>
				<div class="form-group mb-4">
					<label asp-for="PreferredTime" class="control-label"></label>
					<input asp-for="PreferredTime" id="timepicker" type="time" class="form-control" min="08:00" max="15:00" />
					<span asp-validation-for="PreferredTime" class="text-danger"></span>
				</div>
				<div class="form-group mb-4" hidden>
					<label asp-for="PatientId" class="control-label"></label>
					<input asp-for="PatientId" class="form-control" value="@contextAccessor.HttpContext.Session.GetInt32("PatientId")" />
				</div>
				<div class="form-group mb-4" hidden>
					<label asp-for="PatientFileId" class="control-label"></label>
					<input asp-for="PatientFileId" class="form-control" value="@contextAccessor.HttpContext.Session.GetInt32("PatientFileId")" />
				</div>
				@*<div class="form-group form-check mb-4">
				<label class="form-check-label">
				<input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
				</label>
				</div>*@
				<span class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmBookingModal">Book appointment</span>

				<div class="modal fade" id="confirmBookingModal" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="text-danger">Confirm Booking</h5>
							</div>
							<div class="modal-body">
								<p>
									Are you sure want to make this booking?
								</p>
							</div>
							<div class="modal-footer">
								<input type="submit" value="Submit" class="btn btn-primary" />
								<span class="btn btn-secondary" data-bs-dismiss="modal">Close</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-controller="Home" asp-action="Index">Back to Home</a>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
	</script>


}
