@model eNompilo.v3._0._1.Models.GBV.PractitionerRecommendations
@using eNompilo.v3._0._1.Constants;
@inject IHttpContextAccessor contextAccessor

@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

div class="margined-page pt-4">
<h2>Practitioner Recommendations</h2>

<div class="row align-items-centre">
        <div class="col-md-4" style="margin-left:auto;margin-right:auto;">
            <form asp-action="Recommendations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Cell" class="control-label"></label>
                <input asp-for="Cell" class="form-control" />
                <span asp-validation-for="Cell" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="PractitionerId" class="control-label"></label>
                <input asp-for="PractitionerId" class="form-control" />
                <span asp-validation-for="PractitionerId" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="PractitionerRecommendation" class="control-label"></label>
                <textarea asp-for="PractitionerRecommendation" class="form-control"></textarea>
                <span asp-validation-for="PractitionerRecommendation" class="text-danger"></span>
            </div>          
            <div class="form-group">
            </div>
</form>

        <div>
            <a asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
            <script>
            </script>
        }



