@model IEnumerable<eNompilo.v3._0._1.Models.Counselling.CounsellingAppointment>

@{
    ViewData["Title"] = "Index";
}

div class="margined-page pt-4">
<h1>Index</h1>

<p>
    <a asp-action="Create"> Report </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> 
                @Html.DisplayNameFor(model => model.ChallengesSpecific)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
           @*  <th>
                @Html.DisplayNameFor
            </th> *@
        </tr>


    </thead>





</table>



