@model eNompilo.v3._0._1.Models.SMP.SMPAppointment
@using Microsoft.AspNetCore.Identity;
@using eNompilo.v3._0._1.Constants;
@using eNompilo.v3._0._1.Models.SystemUsers;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IHttpContextAccessor contextAccessor
@inject eNompilo.v3._0._1.Areas.Identity.Data.ApplicationDbContext _context



@{
    //Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    var patient = _context.tblPatient.Select(p => new SelectListItem
            {
                Value = p.Id.ToString(),
                Text = p.FirstName + " " + p.LastName + "(" + p.IdNumber + ")",
            }).ToList();
    var practitioner = _context.tblPractitioner.Select(p => new SelectListItem
            {
                Value = p.Id.ToString(),
                Text = p.Users.FirstName + " " + p.Users.LastName,
            }).ToList();
}

<div class="margined-page pt-4">
    <div class="form-check-inline">
    <p>Have you or a family member ever had a serious reaction to anesthesia (other than nausea and vomiting)?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineCheckOptions" id="inlineCheck1" value="option1">
        <label class="form-check-label" for="inlineCheck1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheck2" value="option2">
        <label class="form-check-label" for="inlineCheck2">No</label>
    </div>
    <br/>
    <div class="form-check-inline">
        <p>If you have had surgery, were you told that it was to put in a breathing tube?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
    <br/>
    <div class="form-check-inline">
        <p>Do you have any difficulty opening your mouth or moving your head or neck?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio5" value="option1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio6" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
    <br/>
    <div class="form-check-inline">
        <p>Have you ever had a heartattack or a myocardial infarction?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio7" value="option1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio8" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
    <br/>@*
    <div class="form-group mb-4">
		<label asp-for="HeartAttackDate" class="control-label"></label>
		<input id="date" asp-for="HeartAttackDate" type="date" class="form-control" />
		<span asp-validation-for="HeartAttackDate" class="text-danger"></span>
	</div>
    <br />
    <div class="form-check-inline">
        <p>Do you have diabetes or a problem with high blood sugars?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio9" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio10" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
    <br />
    <div class="form-check-inline">
        <p>If you have diabetes, are you taking insulin?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio11" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio12" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
</div>
