@model eNompilo.v3._0._1.Models.GBV.SupportMembership
@using eNompilo.v3._0._1.Constants;
@inject IHttpContextAccessor contextAccessor

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="margined-page pt-4">
    <h2>Register for the GBV Support Group</h2>
    <hr />
    <div class="row align-items-center">
        <div class="col-md-4" style="margin-left:auto;margin-right:auto;">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4" hidden>
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-4" hidden>
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group mb-4" hidden>
                    <label asp-for="Cell" class="control-label"></label>
                    <input asp-for="Cell" class="form-control" />
                    <span asp-validation-for="Cell" class="text-danger"></span>
                </div>
                <div class="form-group mb-4" hidden>
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-4" hidden>
                    <label asp-for="gender" class="control-label"></label>
                    <input asp-for="gender" class="form-control" />
                    <span asp-validation-for="gender" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
    </script>
}


